/*

Add styles or override variables from the theme here.

*/

$elekto-primary: #1d1e20;

// $primary:#38a0ff;
$primary: $elekto-primary;
$google_font_name: "Noto Sans";
$google_font_family: "Noto+Sans:300,400,600,700";

// $enable-gradients: false;
// $enable-rounded: false;
// $enable-shadows: false;