+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="" image_anchor="left" height="min" color="secondary">}}
  <div class="mx-auto">
    <div class="col-sm-12 card bg-transparent border-0">
      <div class="text-center">
        <img class="banner" src="banner.png" alt="" srcset="">
        <p>
            Elekto was created as part of an LFX internship for the Kubernetes project by <a href="https://github.com/kalkayan">Manish Sahani,</a>
            and is now a CNCF infrastructure project.
        </p>
      </div>
    </div>
    <br />
    <div class="card-group">
      <div class="card bg-primary">
        <div class="card-body ">
          <h4 class="card-title">100% GitOps workflow for configuration and election administration</h4>
        </div>
      </div>
      <div class="card bg-primary">
        <div class="card-body ">
          <h4 class="card-title">100% Oauth-driven workflow for voters (no emails required)</h4>
        </div>
      </div>
      <div class="card bg-primary">
        <div class="card-body ">
          <h4 class="card-title">Preference election voting (starting with Condorcet)</h4>
        </div>
      </div>
      <div class="card bg-primary">
        <div class="card-body">
          <h4 class="card-title">Secret ballots (untraceable back to voter)</h4>
        </div>
      </div>
    </div>
    <div class="mx-auto mt-5">
      {{< blocks/link-down color="primary">}}
    </div>
  </div>
{{< /blocks/cover>}}


{{% blocks/lead color="primary" %}}
<h3>
  Inspired by the long-running CIVS project. Elekto provides a modern way to run online elections.
</h3>
{{% /blocks/lead %}}

<div class="row section--dashboard">
  <div class="col-md-4 content">
    <h1 class="features-heading">Run <span class="text-secondary">Multiple</span> elections</h1>
    <h3 class="mb-4">for the same organization</h3>
    <p>
      Elekto is designed to host multiple elections for the same group, including preserving a
      history of prior elections and outcomes.  You can even run several elections concurrently.
    </p>
    <h1 class="features-heading"><span class="text-secondary">100% </span> Oauth driven</h1>
    <h3 class="mb-4">voter authorization</h3>
    <p>
      Avoiding the pitfalls of email-based ballots, Elekto instead uses a configurable Oauth 
      login provider to validate eligible voters.
    </p>
  </div>
  <div class="col image">
    <img src="dashboard.png" alt="">
  </div>
</div>

<div class="row section--login">
  <div class="col-md-7 image">
    <img src="login.png" width="44%" alt="">
    <img src="election.png" width="45%" alt="">
  </div>
  <div class="col-md-5 content">
    <h1 class="features-heading"><span class="text-secondary">Preference</span> election voting</h1>
    <h3 class="mb-4">starting with Condorcet</h3>
    <p>
      Elekto implements <a href="https://en.wikipedia.org/wiki/Preferential_voting">preference voting</a> to
      allow organization members to choose the most satisfactory candidates instead of the most polarizing ones.
      Currently implemented is <a href="https://en.wikipedia.org/wiki/Condorcet_method">Condorcet method</a> voting.
    </p>
    <h1 class="features-heading"><span class="text-secondary">Responsive</span> UI design</h1>
    <h3 class="mb-4"></h3>
    <p class="mb-5">
      Organization members can cast their vote via desktop computer, tablet, or phone with equal ease.
    </p>
  </div>

</div>

{{< blocks/section color="white">}}
  <div class="col">
    <h4 class="text-center">
      <a href="/docs/getting-started/">Get Started</a> with Elekto
    </h4>
  </div>
{{< /blocks/section>}}

{{< blocks/section color="primary" >}}
  <div>
    <h1 class="text-center"><i class="fab fa-github icon-github"></i></h1>
  </div>
  <div class="d-flex" style="align-items: center;">
    <div>
      <h1>Contributions welcome!</h1>
      <p>
        We do a Pull Request contributions workflow on GitHub. New users are always welcome!
        <a href="https://github.com/elekto-io/elekto/blob/main/CONTRIBUTING.md" class="text-secondary">Read more</a>
      </p>
    </div>
  </div>
{{< /blocks/section>}}

{{< blocks/section color="white" >}}
  <div class="col-md-3 mb-1">
    <h1>Organisations using <span class="text-secondary">Elekto</span></h1>
  </div>
  <div class="col d-flex">
    <img class="align-middle" src="/img/logos/k8s-logo.svg" width="200" alt="">
  </div>
{{< /blocks/section>}}

{{% blocks/section color="secondary" type="section" %}}
<div class="row">
  <div class="col">
    <h1 class="display-3 text-center mb-4">Elekto Project is hosted and supported by the CNCF.</h1>
    <img src="/img/logos/cncf-color.svg" style="max-width: 30rem;" class="mx-auto img-fluid d-block"></img>
  </div>
</div>
{{% /blocks/section %}}

<script>
    let scrollpos = window.scrollY
    const header = document.querySelector("nav")

    const add_class_on_scroll = () => header.classList.add("td-navbar-scroll")
    const remove_class_on_scroll = () => header.classList.remove("td-navbar-scroll")

    window.addEventListener('scroll', function() {
        scrollpos = window.scrollY;
        if (scrollpos >= '1100') { add_class_on_scroll() }
        else { remove_class_on_scroll() }
    })
</script>
