+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="" image_anchor="center" height="min" color="dark" >}}
<div class="mx-auto">
    <div class="col-sm-6 offset-sm-7 card bg-transparent border-0">
	<div class="text-left">
		<h1 class="motto">
			Choose the right with <span class="text-secondary">Elekto</span>
		</h1>
	</div>
      <div class="card-body pl-0">
        <h3 class="card-title text-left">Simple software for secure online elections.</h3>
        <p class="card-text text-left">
			<small>
				Elekto was created as part of an LFX internship for the Kubernetes project by <a href="">Manish Sahani,</a> and is now a CNCF infrastructure project.
			</small></p>
      </div>
    </div>
  <br/>
  <div class="card-group">
    <div class="card bg-primary">
      <div class="card-body pt-5">
        <h4 class="card-title">100% GitOps workflow for configuration and election administration</h4>
      </div>
	</div>
	<div class="card bg-primary">
		<div class="card-body pt-5">
		  <h4 class="card-title">100% Oauth-driven workflow for voters (no emails required)</h4>
		</div>
	  </div>
    <div class="card bg-primary">
      <div class="card-body pt-5">
        <h4 class="card-title">Preference election voting (starting with Condorcet)</h4>
      </div>
	</div>
	<div class="card bg-secondary">
		<div class="card-body pt-5">
		  <h4 class="card-title">Multiple elections for the same organization</h4>
		</div>
	  </div>
  </div>
  <div class="mx-auto mt-5">
    {{< blocks/link-down color="primary" >}}
  </div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<h1>
	Elekto is inspired by the long-running CIVS project.
</h1>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Join us on Slack!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{% blocks/section color="secondary" type="section" %}}
<div class="row">
  <div class="col">
    <h1 class="display-3 text-center">Elekto Project is hosted and supported by the CNCF.</h1>
    <img src="/img/logos/cncf-icon-white.svg" width="75" class="mx-auto d-block"></img>
  </div>
</div>
{{% /blocks/section %}}
